body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    list-style-type: none;
}